{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'arusahni_helper.tmpl' as arusahni with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    <style>
    div.input_prompt {
      display: none;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="post">
        <h1 class="title">Welcome!</h1><br>
        <h3 class="body" align="center">This is my personal "serious" blog where I will write posts about this and that as a Ph.D. student, developer and NERD!
        I hope you'll enjoy your staying!<br><br>
        What about starting by taking a look at my latest publications? </h3>
        <br><br><hr align="left" size="2" width="100%"> <br><br>

    {% for post in posts %}
        <div class="post">
            <h2 class="title"><a href="{{ post.permalink() }}">{{ post.title() }}</a></h2>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="{{ post.date.isoformat() }}">{{ post.formatted_date(date_format) }}</time>
                </div>
                <div class="stats">
                {% if not post.meta('nocomments') %}
                    {{ comments.comment_link(post.permalink(), post.base_path) }}
                {% endif %}
                </div>
                {{ arusahni.html_tags(post) }}
            </div>
            <div class="body">
            {% if index_teasers %}
                {{ post.text(teaser_only=True) }}
            {% else %}
                {{ post.text(teaser_only=False) }}
            {% endif %}
            </div>
        </div>
        <hr align="center" size="1" width="50%">
    {% endfor %}
    {{ helper.html_pager() }}
    {{ comments.comment_link_script() }}
    {{ helper.mathjax_script(posts) }}
{% endblock %}
